@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.notifyEdit{
  background-color: #FFAC1C;
  color : #FFAC1C;
 }

 #parent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#child {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Adjust this value for cross-browser compatibility */
  box-sizing: content-box; /* Ensures the width remains 100% + scrollbar width */
}

.bounce-once {
  animation: bounce 0.1s ease-in-out;
  /* animation-fill-mode: forwards; Ensures animation plays only once */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}



